<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <section id="about-us">
        <div class="about">
            <div class="inner-section">
                <h1>About Us</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nemo perferendis placeat atque ipsam, consequatur praesentium quos harum, doloremque quaerat, quas ipsa voluptates. At labore veniam eum. Velit, quia veniam.
                </p>
                <div class="skills">
                    <a href="#teams" class="button">Connect</a>
                </div>
            </div>
        </div>
    </section>
    <section class="teams" id="teams">
        <h1>Developed By</h1>
        <div class="container">
            <div class="our-team">
                <div class="pic">
                    <img src="akash.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Akash</h3>
                    <span class="post">Developer</span>
                </div>
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="our-team">
                <div class="pic">
                    <img src="akash.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Akash</h3>
                    <span class="post">Developer</span>
                </div>
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="our-team">
                <div class="pic">
                    <img src="akash.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Akash</h3>
                    <span class="post">Developer</span>
                </div>
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </section>
    
</body>
</html>