<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headlines</title>
</head>
<body>
    <h1>Headlines</h1>
    <% data.forEach(function(article){ %>
        <p><%= article.source.name %></p>
        <img style="width: 200px; height: auto;" src=<%=article.urlToImage%> >
        <p style="font-weight: bold;"><%= article.title %></p>

    <% }) %>
    <h2>wowii</h2>
</body>
</html>