@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top-nav{
    grid-area: nav;
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: fixed;
    width: 100vw;
    height: 70px;
    z-index: 999;
}
#sidebar{
    grid-area: sidebar;
    height: 100%;
    max-height: calc(100vh - 3rem);
    overflow-y: auto;
    position: fixed;
    top: 70px;
    color: white;
    transition: all .3s ease;
    width: 300px;
    background: #2f3640; 
    box-shadow: 8px 0 10px -6px rgba(0,0,0,0.25);
    z-index: 100;
}
#sidebar ul li{
    margin: 15px 5px;
    padding: 10px;
    font-size: 1.05em;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-45%)
}
#sidebar ul li a{
    text-decoration: none;
    color: white;
}
.articles{
    grid-area: content;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: 
    "nav nav"
    "sidebar content";
}
#sidebar.active {
    margin-left: -300px;
}
#articles.active{
    margin-left: -200px;
}
#sidebarCollapse{
    border-radius: 50%;
    margin-top: 9px;
    background: #2f3640;
    color:#e84118;
}
.brand{
    font-size: 1.4em;
    color: #2f3640;
    font-weight: bold;
    position: absolute;
    left: 80px;
    top: 35px;
    transform: translateY(-50%);
}

.articles{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
    transition: .3s all ease-out;
}
.articles .contain{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    height: auto;
    background: #ffffff;
    left: 20%;
    border:1px solid #dadce0;
    padding:15px 20px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: 20px 0;
    transform: translateX(-50%);
    /* z-index: -9999; */
}
.articles .imgcont{
    width: 100%;
}
.articles .imgcont img{
    width: 100%;
    position: relative;
    left:50%;
    top:50%;
    height: 100%;
    max-height: 300px;
    transform: translate(-50%,-50%);
    padding: 0 4px;
}
.search-box{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    z-index: 9999;
    transition: .4s all;
}
.search-btn{
    color:#e84118;
    outline: none;
    /* background: none; */
    border: none;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.search-box:hover .search-btn{
    color: #e84118;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color: white;
    font-size: 16px;
    transition:.4s;
    line-height: 30px;
    width: 600px;
}

.containers{
    width: 400px;
    height: 350px;
    max-width: 25%;
    position: absolute;
    top: 90px;
    left: 74%;
    /* right: 3%; */
    display: flex;
    border:1px solid #dadce0;
    border: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
    transition: .3s all ease-out;
    position: fixed;
}
.containers.content{
    padding: 40px;
    margin-top: 50px;
}
.containers .general-info{
    color: #2f3640;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.status{
    
  font-size: 2rem;
  font-weight: bold;
}
.location {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 10px;
  }
/* .containers */
.containers .details-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding:5px 20px;
}
.detail.bordered {
    border-left: 1px solid rgba(119,119,119,.8);
    border-right: 1px solid rgba(119,119,119.8);
}

.detail .title {
    font-size: 1.2rem;
    flex-grow: 1;
    font-weight: bold;
    color: #777;
}
.detail .value {
    font-size: 1.1rem;
    margin-top: 10px;
}
.city-search-contain {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    transition: .4s all;
}

#city-search{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color: white;
    font-size: 16px;
    transition:.4s;
    line-height: 30px;
    width: 0px;
}
#btn-search{
    color:#e84118;
    border: none;
    outline: none;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.city-search-contain:hover #city-search{
    width: 150px;
}
.city-search-contain:hover #btn-search{
    background: white;
}

.containers.active{
    margin-left:-200px;
}

#top-point{
    position: fixed;
    right: 50px;
    display: none;
    bottom: 60px;
    cursor: pointer;
    transition: .5s;
    z-index: 1000;
}
#top-point .navTop{
    width: 50px;
    height: auto;
    color: #2f3640;
}

.profile{
    position: absolute;
    right: 3%;
    top: 18px;
    border-radius: 5px;
    padding: 5px 15px;
    background: #2f3640;
    color: white;
    font-size: .9rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
.profile[data-profile]::after{
    content: attr(data-profile);
    position: absolute;
    padding: 5px 15px;
    color: white;
    font-size: .8em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 10px;
    background: #2f3640;
    z-index:999;
    transform: scale(0);
    transition: all ease .35s;
}
.profile:hover::after{
    top:110%;
    transform: scale(1);
}
.profile .prof-icon{
    height:28px;
    width:28px;
    text-align:center;
    background:#2f3640;
    color:white;
    padding:8px 5px;
    border-radius:50%; 
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}


@media (max-width:1350px){
    .search-txt{
        width: 500px;
    }
    .containers{
        position: absolute;
        left: 50%;
        transform: translateX(-38%);
        height: 250px;
        width: 700px;
        max-width: 55%;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        position: relative;
        top: -10%;
        padding: 10px;
    }
    .content .details-section{
        margin: 10px 0;
    }
    .city-search-contain{
        /* margin: 10px; */
        margin-top: 20px;
    }

    .articles{
        left: 50%;
        transform: translateX(-50%);
        top: 340px;
        max-width: 55%;
    }
}
@media (max-width:1100px){
    .search-txt{
        width: 400px;
    }
}
@media (max-width: 1220px){
    #sidebar {
        margin-left: -300px;
        z-index: 999;
        width: 300px;
        top: 70px;
        left: 0;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #articles{
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }
    #articles.active{
        margin-left: 0;
    }
    .containers.active{
        margin-left: 0;
    }    
    .containers{
        position: absolute;
        left: 50%;
        transform: translateX(-38%);
        height: 250px;
        width: 700px;
        max-width: 80%;
    }
}

@media (max-width:990px){
    .brand{
        position: absolute;
        left: 60px;
    }
    .search-txt{
        width: 300px;
    }
    .containers{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 250px;
        /* width: 700px; */
        max-width: 80%;
    }
    #articles{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        /* right: 10%; */
        top: 340px;
        max-width: 55%;
    }
    #sidebar{
        max-height: calc(100vh - 3rem);
        overflow-y: auto;
    }
}

@media (max-width: 830px) {
    #sidebar {
        margin-left: -300px;
        z-index: 999;
        width: 300px;
        top: 70px;
        left: 0;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #articles{
        display: flex;
        justify-content: center;
    }
    #articles.active{
        margin-left: 0px;
    }
    #articles .contain{
        position: relative;
        right: 5%;
        width: 600px;
    }
    .search-txt{
        width: 0;
    }
    .search-btn{
        background: #2f3640;
    }
    .search-box:hover .search-txt{
        width: 240px;
    }
    .search-box:hover .search-btn{
        background: white;
    }

}
@media (max-width:740px){
    #articles{
        position: relative;
        left: 40%;
        transform: translateX(-50%);
    }
    #articles .contain{
        width: 400px;
        flex-direction: column;
    }
    .search-txt{
        width: 0;
    }
    .search-btn{
        background: #2f3640;
    }
    .search-box:hover .search-txt{
        width: 180px;
    }
    .search-box:hover .search-btn{
        background: white;
    }
    
}

@media (max-width:600px){
    .containers{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
        width: 500px;
        /* max-width: 55%; */
    }
    .content{
        display: flex;
        flex-direction: column;
        /* justify-content: center;*/
        align-items: center; 
        margin: 0 10px;
        position: relative;
        top: -10%;
        padding: 10px;
    }
    .city-search-contain{
        margin:-35px auto;
    }
    #articles{
        position: relative;
        top: 400px;
    }
    #sidebar{
        max-height: calc(100vh - 4.5rem);
        overflow-y: auto;
    }
    .profile h6{
        display: none;
    }
    .profile{
        background: transparent;
        color: #2f3640;
    }
    .profile .prof-icon{
        height: 35px;
        width: 35px;
        position: relative;
        top: -6px;
    }
    
}
@media (max-width:530px){
    #articles{
        position: relative;
        left: 40%;
        transform: translateX(-40%);
    }
    #articles .contain{
        width: 300px;
    }
    .search-box{
        left: 55%;
    }
    .search-txt{
        width: 0;
    }
    .search-btn{
        background: #2f3640;
    }
    .search-box:hover .search-txt{
        width: 120px;
    }
    .search-box:hover .search-btn{
        background: white;
    }    
}

@media (max-width:440px){
    .containers{
        position: absolute;
        left: 50%;
        transform: translateX(-45%);
        height: 300px;
        /* width: 500px; */
        max-width: 90%;
    }
}
@media (max-width: 400px){
    #articles{
        position: relative;
        left:50%;
        transform:translateX(-50%);
    }
}


/* weather */

