@font-face{
    font-family:'Gilroy';
    src: url(Gilroy-Regular.woff) format(woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}
html{
    font-size: 16px;
}
.hide{
    display: none;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

main{
    margin: 70px auto;
    height: 100vh;
}

.stats{
    background: #f1f1f1;
    z-index: 1000;
    position: relative;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('bg.jpg'); */
    background-size: cover;
}

.latest-report{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 50px;
    width: 80%;
    color: #ffffff;
}

.country,
.total-cases,
.recovered,
.deaths{
    height : 100px;
}

.name{
    font-size: 2.2em;
    color: rgb(253, 106, 53);
    font-weight: bold;
}

.change-country{
    cursor: pointer;
}

.title{
    font-size: 1.3em;
}

.total-cases .value{
    font-size: 2em;
    font-weight: bold;
    color: rgb(22, 148, 197);
}

.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: rgb(84, 230, 84);
}

.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: rgb(182, 45, 45);
}

.new-value{
    font-size: 1.3em;
    color: #000;
}

.chart{
    width: 80%;
    height: 80vh;
    min-height: 500px;
    margin: 0 auto;
    padding: 50px 0;
}

.search-country{
    position: relative;
    color: #000;
}

.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    background-color: #111111;
    z-index: 1;
}

.search-box input{
    width: 360px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    padding-left: 15px;
    font-size: 1.0em;
}

.search-box img{
    width: 15px;
    padding-right:5px ;
    cursor: pointer;
}

.country-list{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top : 30px;
    width: 400px;
    height: 300px;
    background-color: #111111;
    opacity: 0.8;
    overflow-y: scroll;
}

.country-list ul{
    width: 100%;
}

.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px ;
    color: #ffffff;
}

.country-list ul li:hover{
    border-left: 1px solid #ffffff;
}


@media screen and (max-width: 600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}